<form method="POST" action="/recipes">
  <label for ="name"> Name</label>
<<<<<<< HEAD
  <input type="text" id="name" name="name">
  <br>
  
  <label for="ingredients">Ingredients</label>
  <input type="text" id="ingredients" name="ingredients">
  <br>
  <label for="cook_time">Cook Time<label>
  <input type="text" id="cook_time" name="cook_time">
=======
  <input type="text" id="name" name="name"/>
  <br>
  
  <label for="ingredients">Ingredients</label>
  <input type="text" id="ingredients" name="ingredients"/>
  <br>
  <label for="cook_time">Cook Time</label>
  <input type="text" id="cook_time" name="cook_time"/>
>>>>>>> 8058be2c9ec11a6fa363c541cee7b5e9aef5a7e0
  <br>
  <input type="submit" value ="Send Away">
  
</form>